<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="HOME_LOG" value="${user.dir}/logs/newest.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/archives/%d{yyyy-MM-dd}/record_%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>200</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{"'T'HH:mm:ss.SSS"} [%t] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>

    </appender>


    <logger name="com.example.budgettracker" level="info" additivity="true">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>