body {
    background-color: #f7f7f7;
}
#header {
    background-color:black;
    color: goldenrod;
    font-weight: bolder;
    padding: 1%;
    font-size: 40px;
    opacity: 85%;
    font-family: "Fira Code Light", serif;
}
#menu-link {
    font-size: 20px;
    width: 10%;
    margin-left: 5%;
}

.link {
    color: inherit;
}

.link:hover {
    color: white;
    text-decoration: none;
}
.row {
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
}

#categoryCost {
    height: 350px;
}

#balance {
    height: 500px;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

#form {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 24%;
    margin-left: 38%;
    margin-right: 38%;
    background-color: white;
    border: solid 1px grey;
}

.form-group {
    width: 300px;
}
.d-inline{
    width: 25%;
    text-align: center;
}
.navbar-nav.mr-auto{
    width: 100%;
    font-size: 20px;
    margin-top: 6.5%;
}