<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/summary.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/custom.js}"></script>
    <title>Summary</title>
</head>
<body>
<div id="header" class="fixed-top">
    <div id="menu-link" class="d-inline">
        <a href="/user" class="link">Budget Tracker</a>
    </div>
    <label style="margin-left: 1%;">Summary</label>
</div>
<div id="container">
    <div class="choice">
        <form id="myForm" th:action="@{'/user/summary'}" th:object="${chosenYear}" method="get">
            <select class="form-control selectpicker" id="year" th:field="*{year}" onchange="send()">
                <option value="0">year</option>
                <option value="1">All</option>
                <option th:each="year : ${years}"
                        th:value="${year}"
                        th:text="${year}"
                >
                </option>
            </select>
        </form>
    </div>
    <div id="balance" class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th>YEAR</th>
                    <th>MONTH</th>
                    <th>PREVIOUS_BALANCE</th>
                    <th>INCOMES</th>
                    <th>COSTS</th>
                    <th>CURRENT_BALANCE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="summary : ${list}">
                    <td th:text="${summary.getYear()}">1</td>
                    <td th:text="${summary.getMonth}">Text ...</td>
                    <td th:text="${summary.getPreviousBalance()}">Text ...</td>
                    <td th:text="${summary.getIncomes()}">Text ...</td>
                    <td th:text="${summary.getCosts()}">Text ...</td>
                    <td th:text="${summary.getCurrentBalance()}">Text ...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="incomesAndCostsChart" class="col">
            <script th:inline="javascript">
                let monthTab = [[${months}]];
                let incomeTab = [[${incomes}]];
                let costTab = [[${costs}]];
            </script>
            <script>
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Month');
                    data.addColumn('number', 'Incomes');
                    data.addColumn('number', 'Costs');

                    for (var i = 0; i < incomeTab.length; i++) {
                        data.addRow([monthTab[i], incomeTab[i], costTab[i]]);
                    }

                    var options = {
                        title: 'INCOMES AND COSTS'
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('incomesAndCostsChart'));
                    chart.draw(data, options);
                }
            </script>
        </div>
    </div>
    <div id="categoryCost" class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                <tr>
                    <th>COST</th>
                    <th>EXPENSES</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categoryCosts}">
                    <td th:text="${category.key}">1</td>
                    <td th:text="${category.value}">Text ...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="costsChart" class="col">
            <script th:inline="javascript">
                let categoryTab = [[${categoryCosts.keySet()}]];
                let categoryCostTab = [[${categoryCosts.values()}]];
            </script>
            <script>
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Cost');
                    data.addColumn('number', 'Sum');

                    for (var i = 0; i < categoryTab.length; i++) {
                        data.addRow([categoryTab[i], categoryCostTab[i]]);
                    }

                    var options = {
                        title: 'COST CATEGORIES'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('costsChart'));
                    chart.draw(data, options);
                }
            </script>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>